/* RESETS AND DEFAULTS */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: "Open Sans", sans-serif !important;
}

/* SITEWIDE */

.container {
  /* from theme 'light' */
  background-color: #f1f1f2;
  max-width: 375px;
  padding: 20px;
}
